<div class="widget widget-category">
                    <h3 class="widget-title">分类</h3>

                    <ul>
                        {% for category in show_categories %}

                        <li>
                            <a href="{% url 'blog:categories' category.pk %}">{{ category.name }}<span class="post-counter">({{ category.counter_post }})</span></a>
                        </li>
                             {% empty %}
                                   没有分类
                          {% endfor %}


                    </ul>
</div>